/* Base Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
    color: #333;
    background: #fff;
    padding: 0 10px; /* Added padding for a little space on smaller screens */
}

/* Header and Footer Styles */
header, footer {
    text-align: left;
    padding: 20px 0px; /* Adjusted padding for smaller screens */
    color: #666;
}

header h1 {
    margin: 0;
    font-size: 24px; /* Will adjust in media query for smaller screens */
    color: #333;
}

ul, li {
    font-size: 16px; /* Will adjust in media query for smaller screens */
    color: #666;
}

p {
    font-size: 16px; /* Will adjust in media query for smaller screens */
    color: #666;
}

/* Blog Section Styles */
section {
    margin-top: 20px; /* Adjusted for smaller screens */
    border-top: 2px solid #eee;
    padding-top: 20px;
}

h2 {
    font-size: 20px; /* Will adjust in media query for smaller screens */
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Post Content Styles */
article {
    padding: 20px;
    border: 1px solid #eee;
    background: #f9f9f9;
    margin-top: 20px;
}

.post-content {
    display: none; /* Ensures it's hidden initially */
    position: relative; /* Necessary for absolute positioning of children */
    background: #fff;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Ensure it's visible, adjust color as needed */
}


/* Footer Styles */
footer p {
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Utility Classes */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive Styles */
@media (max-width: 600px) {
    body {
        margin: 20px 10px;
        padding: 0;
    }

    header h1, p, h2, footer p, ul li a {
        font-size: 90%; 
    }

    section, article {
        padding: 15px; 
    }

    header, footer {
        padding: 15px 10px;
    }

    body {
        max-width: 100%;
    }
}

.hacker-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: lime;
    font-family: 'Fira Code', monospace; 
    z-index: 1000;
    pointer-events: none;
    display: none; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.hacker-effect:not(.active) {
    display: none;
}

.hacker-effect.active, .hacker-effect.active * {
    color: lime !important; 
    background-color: black !important; 
}

@keyframes flickerEffect {
    0%, 19%, 21%, 23%, 25%, 27%, 29%, 100% {
        opacity: 1;
    }
    20%, 22%, 24%, 26%, 28% {
        opacity: 0;
    }
}

.hacker-effect.active .glitch {
    animation: flickerEffect 1.5s infinite;
}